<p id="notice"><%= notice %></p>

<div>
  <%= @photo.name %>
</div>
<div>
 <%= image_tag(@photo.avatar_url(:thumb)) if @photo.avatar? %>
</div>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
